// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body{
  background-color: #6a7179!important;
  padding: 100px 0px 0px 0px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6,h6.h1,.h2,.h3,.h4,.h5,.h6{
  color: #3a3a3a;
  font-weight: 200;
  font-family: 'Roboto Condensed', sans-serif;
}

p{
  font-size: 1.5em;
}

h1 {
  color: #313437;
  font-size: 4.5em;
}

h2, h3 {
  color: white;
}

/*-----------*/
/*  BODY     */
/*-----------*/

#text {
  margin-top: 10px;
  padding: 20px 40px;
  .col-md-8 {
    background-color: #f7f7f9; //#999;
    border: solid 1px black;
    p {
      padding: 20px;
      text-align: justify;
      color: #6a7179; 
      font-weight: lighter;
    }
    h2 {
      padding-top: 20px;
      font-size: 3.5em;
      color: #313437;
    }
    h3 {
      text-align: left;
      color: #313437;
    }
  }
}


#body {
  width: 600px;
  margin: 0 auto;
  background-color: #999;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

.block h2 {
   font-size: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/

.social{
	overflow: hidden;
	padding: 80px 0px 150px 0px;
	min-height: 350px;
	background-position: center top;
	background-repeat: repeat-x;
	color: white;
}

.social h2{
	color: white;
}

.social a {
	margin-left: 10px;
	color: #FFF;
	font-size: 5em;
	transition: all 0.3s;

  &:hover {
    color: #555555;
  	text-decoration: none;
	  cursor: pointer;
  }
}


