  <!-- FEATURES
  ================================================== -->
  <section id="features" class="features">
   <div class="container">
     <div class="row">

       <div class="col-md-4">
         <div class="circle"><i class="icon-bookmark"></i></div>
         <h2>Education</h2>
         <p>Computer engineer degree.</br>Master on engineering and management of Renewable Energies.</p>
       </div>

       <div class="col-md-4">
         <div class="circle"><i class="icon-keypad"></i></div>
         <h2>Skills</h2>
         <p>Pragmatic.</br>Insatiable autodidact.</br>Curious like a child.</p>
       </div>

       <div class="col-md-4">
         <div class="circle"><i class="icon-like"></i></div>
         <h2>Loves</h2>
         <p>Web design.</br>Ruby on Rails.</br>Smartcities.</p>
       </div>
     </div>
   </div>
  </section>

