  <header id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>martinezcoder</h1>
          <p class="lead">Building apps</p>
          <%= render 'layouts/social' %>
          </div>
      </div>
    </div>
  </header>
