  <header id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>@martinezcoder</h2>
          <p class="lead">Building apps</p>

          <div class="header-carousel">
            <div id="carousel-news" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-news" data-slide-to="1"></li>
                <li data-target="#carousel-news" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner well">
                <div class="item active">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus nunc, vestibulum id sem id, varius tempor mauris. Morbi adipiscing ipsum metus, a bibendum nisl consectetur a. Phasellus commodo, ante at eleifend tincidunt, nulla enim dictum neque, ac vestibulum dui nunc sit amet neque. Proin lobortis ultrices sem sit amet vulputate. Aliquam mattis non orci id malesuada. Proin venenatis pulvinar mauris, non varius nunc eleifend ac. Phasellus turpis mi, mollis sit amet quam vel, sodales semper libero. Sed pellentesque non turpis a suscipit. Curabitur sagittis molestie aliquam. Aliquam justo diam, posuere sed tincidunt commodo, bibendum sed nibh. Praesent sit amet nibh sed urna lacinia tristique. Suspendisse porttitor id tortor vitae laoreet. Suspendisse potenti. In hac habitasse platea dictumst.</h3>
                </div>
                <div class="item">
                  <h3>In hac habitasse platea dictumst. Praesent et bibendum libero. Aenean nisi purus, venenatis at lacinia quis, blandit ullamcorper nibh. Curabitur ut mi sit amet neque lacinia suscipit vitae eget libero. Duis ultrices dictum purus, id iaculis metus semper vitae. Mauris tempor ante at lacinia tincidunt. Fusce vel magna aliquam lorem faucibus volutpat. Integer sed lectus ultrices, laoreet purus vel, congue erat.</h3>
                </div>
                <div class="item">
                  <h3>Donec malesuada porttitor lectus, vel euismod magna. Suspendisse commodo accumsan ligula, sed mollis ligula sollicitudin vel. Maecenas eget est blandit, porta dolor at, viverra eros. Nunc quis scelerisque nibh. Aenean sed ante tortor. Phasellus sit amet mauris placerat diam ultricies venenatis a id tellus. Sed eleifend enim nec ligula ornare volutpat eget eu tortor. Nunc id dui eu massa pretium faucibus in sit amet est. Maecenas a malesuada nisl, ac mollis nibh. Phasellus placerat eget ante quis pharetra. Fusce adipiscing est mi, vitae sodales enim porta et. Aliquam in magna ut mauris rhoncus gravida id vel neque. Donec a suscipit erat. Fusce ultrices lacus nec dolor pulvinar, non vestibulum purus semper. Aenean tincidunt euismod ultrices. Suspendisse non urna gravida, interdum turpis rhoncus, imperdiet mauris.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <script>
    // Carousel transition
    $('header .carousel').carousel({
      interval: 3000
      })
  </script>
