<div id="text" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text">
      <h2 class="title">Let me introduce myself</h2>
      <p>
      Hi! my name is Fran. Nice to have you here.
      I am a 35 year old developer born in Barcelona,
      whom many years ago decided to focus his life in computer sciences
      instead of philosophy, some of my others multiples passions.
      I like all around development culture, but what I most like is people, to
      know people who open my mind to other points of view. At the end, is how I feel
      programming, the end product of a shared mental artistic process.
      That's why I like responsible and enthusiastic people, who shares knowledge and
      who spend his time helping others to improve. This is at least what I like to do.
      </p>
      <h2 class="title">What can I do</h2>
      <h3>Technical skills</h3>
      <p>
      <b>Ruby on Rails. </b> 3 years experience with Rails. From the full stack creation
      of an app to became a senior backend developer in Sage. The Ruby community made me
      be reborn as a developer. SOLID principles, DRY, metaprogramming, git, TDD and Agile, are
      some of the words that came into me with the Ruby world. During last year I have been
      very involved in API solutions, both consumers and providers.
      </p>
      <p>
      <b>Javascript/CoffeeScript.</b> I consider myself a backend developer but I like to
      know what's happening in the other side. So I like to read and do my mini-pets projects
      with AngularJS, Javascript and Coffescript.
      </p>
      <p>
      <b>C/C++.</b> 3 years experience working as a backend developer with C and C++ in a client-server
      application for the main energy company in Spain.
      </p>
      <p>
      <b>Mysql, postgreSQL, Oracle, PLSQL.</b> 10 years experience with relational databases. I can
      do any kind of query! Further, I worked during 3 years with Pro*C, the C precompiler for Oracle,
      a really good way to work in a C real-time application that consumes the data from an Oracle Datawarehouse.
      </p>
      <p>
      <b>PHP, Wordpress and related.</b> It's not my passion, but I have had really good times with Wordpress websites,
      using plugins, improving manually its SEO, and having fun with the PHP code.
      </p>
      <h3>Management skills</h3>
      <p>
      <b>Development Team Lead.</b> I know how to manage a development team, where to find developers and
      how to integrate them in a team. I like to keep people motivated and happy.
      <p><b>Scrum/Agile workflow.</b> Deeply experience in agile enviroment, working in remote or in the office.
      I have had the role of scrum master many times.
      </p>
      <h3>My resume</h3>
      <p>You can find me on <%= link_to "LinkedIn", "https://es.linkedin.com/in/martinezcoder" %>
        <a class="icon-linkedin" href="https://es.linkedin.com/in/martinezcoder"></a>
      </p>
      <h2 class="title">More about me</h2>
      <p>
      I am a very friendly person who likes to learn every day as a way of life. I've done some presentations
      in LaSalle, Ironhack and internally in Sage.
      I am a very peaceful guy who likes to meet friends, practice yoga, play the guitar,
      install and use renewable energies, and read about programming, philosophy,
      science and classical novels. Of course I like to enjoy all of these with my daughter and wife!
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

