<div id="text" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text">
      <h2 class="title">Let me introduce myself</h2>
      <p>
      Hi, my name is Fran Martinez. Nice to meet you!
      I am a <%= ((Time.now - Time.parse('09-01-1980')) / 1.year).round %> years old developer born and locate in Barcelona.
      I like all about development culture, from the product definition to development, but I what I most like is to
      know people who open my mind to other points of view. At the end, is how I feel
      programming, the end product of a shared mental artistic process.
      That's why I like responsible and enthusiastic people, who shares knowledge and
      who spend his time helping others to improve. This is at least what I like to do.
      </p>
      <h2 class="title">What can I do</h2>
      <h3>Technical skills</h3>
      <p>
      <b>Ruby (on Rails). </b> <%= Time.now.year - 2013 %> years experience with Ruby. From the <b>full stack</b> creation
      of an app to a PORO ruby coder. The Ruby community made me
      be reborn as a developer. SOLID principles, DRY, metaprogramming, git, TDD and Agile, are
      some of the words that came into me with the Ruby world.
      </p>
      <p>
      <b>Docker. </b>I started one year ago with Docker and docker compose. Since then, I always develop with Docker images and containers.
      Give me a computer and I will only install Docker to start programming anything. That's the best magic ever!
      </p>
      <p>
      <b>Mysql, postgreSQL, Oracle, PLSQL.</b> <%= Time.now.year - 2004 %> years experience with relational databases. I can
      do any kind of query! Further, I worked during 3 years with Pro*C, the C precompiler for Oracle,
      a really good way to work in a C real-time application that consumes the data from an Oracle Datawarehouse.
      </p>
      <p>
      <b>Event Sourcing.</b> I had the oportunity to use an event sourcing solution during some months.
      It's a very powerful solution to keep the synchronization between microservices, sending events instead of objects.
      </p>
      <p>
      <b>Javascript/CoffeeScript.</b> I like to face frontend challenges! I have always been more focused in the backend
      side, BUT that does not mean I like to be just a backend developer. Let's say I am an advanced beginner fullstack!
      </p>
      <p>
      <b>PHP, Wordpress and related.</b> It's not my passion, but I have had really good times with Wordpress websites,
      using plugins, improving manually its SEO, and having fun with the PHP code.
      </p>
      <p>
      <b>C/C++.</b> 3 years experience working as a backend developer with C and C++ in a client-server
      application for the main energy company in Spain.
      </p>
      <h3>Management skills</h3>
      <p>
      <b>Development Team Lead.</b> I have managed a couple of development teams, I know where to find developers and
      how to integrate them in a team. I like to keep people motivated and happy.
      <p><b>Scrum/Agile workflow.</b> Deeply experience in agile enviroment, working in remote or in the office.
      I have had the role of scrum master many times.
      </p>
      <h3>My resume</h3>
      <p>You can find me on <%= link_to "LinkedIn", "https://es.linkedin.com/in/martinezcoder" %>
        <a class="icon-linkedin" href="https://es.linkedin.com/in/martinezcoder"></a>
      </p>
      <h2 class="title">More about me</h2>
      <p>
      I am a very friendly person who likes to learn every day as a way of life. That's why I like semi-remote jobs,
      in order to have this balance between professional and personal skills. I have done some presentations
      in LaSalle, Ironhack and internally when I was in Sage.
      I am a peaceful guy who likes to meet friends, practice yoga, play the guitar,
      install and use renewable energies, and read about programming, philosophy,
      science and classical novels. Of course I like to enjoy all of these with my children and wife!
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

